@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: rgb(14, 89, 89);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 30pc;
  max-height: 20pc;
  margin: 100px

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.b4{
  border-radius: 2px;
  background-color: black;
  color: sandybrown;
padding-inline: 14px;
margin: 4px;
}


.buttons{
  
  text-align: center;
  background-color: rgb(9, 174, 136);
  color:rgb(4, 1, 0);
  font-style: oblique;
  font-size: 20px;
  /* margin-top:0px ;
  margin-left: 350px;
 padding-right: 15pc;
 padding-left: 12pc; */

}
.links{
  text-align: center;
  background-color: rgb(9, 174, 136);
  color:rgb(4, 1, 0);
  font-style: oblique;
  font-size: 20px;
  /* margin-top:0px ;
  margin-right:10pc; 
  padding: 20px; */
}

  .heading{
    background-color: white;
    color: #0a0a0a;
    font-size:large;
    padding-right: 300px;
  }
  
